# Aula 05 - Naive Baiyes

---

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
dataframe = pd.read_csv("dataset.csv")

In [5]:
dataframe

         Clima Temperatura Umidade       Vento Jogar
0      Chuvoso      Quente    Alta       FALSO   Não
1      Chuvoso      Quente    Alta  VERDADEIRO   Não
2      Nublado      Quente    Alta       FALSO   Sim
3   Ensolarado    Moderado    Alta       FALSO   Sim
4   Ensolarado        Frio  Normal       FALSO   Sim
5   Ensolarado        Frio  Normal  VERDADEIRO   Não
6      Nublado        Frio  Normal  VERDADEIRO   Sim
7      Chuvoso    Moderado    Alta       FALSO   Não
8      Chuvoso        Frio    Alta       FALSO   Sim
9   Ensolarado    Moderado  Normal       FALSO   Sim
10     Chuvoso    Moderado    Alta  VERDADEIRO   Sim
11     Nublado    Moderado    Alta  VERDADEIRO   Sim
12     Nublado      Quente  Normal       FALSO   Sim
13  Ensolarado    Moderado    Alta  VERDADEIRO   Não

In [6]:
print(dataframe['Clima'].unique())
print(dataframe['Temperatura'].unique())
print(dataframe['Umidade'].unique())
print(dataframe['Vento'].unique())
print(dataframe['Jogar'].unique())

['Chuvoso' 'Nublado' 'Ensolarado']
['Quente' 'Moderado' 'Frio']
['Alta' 'Normal']
['FALSO' 'VERDADEIRO']
['Não' 'Sim']

In [7]:
dataframe.groupby('Clima').count()

            Temperatura  Umidade  Vento  Jogar
Clima
Chuvoso               5        5      5      5
Ensolarado            5        5      5      5
Nublado               4        4      4      4

In [8]:
dataframe.groupby('Temperatura').count()

             Clima  Umidade  Vento  Jogar
Temperatura
Frio             4        4      4      4
Moderado         6        6      6      6
Quente           4        4      4      4

In [9]:
dataframe.groupby('Umidade').count()

         Clima  Temperatura  Vento  Jogar
Umidade
Alta         9            9      9      9
Normal       5            5      5      5

In [10]:
dataframe.groupby('Vento').count()

            Clima  Temperatura  Umidade  Jogar
Vento
FALSO           8            8        8      8
VERDADEIRO      6            6        6      6

In [11]:
dataframe.groupby('Jogar').count()

       Clima  Temperatura  Umidade  Vento
Jogar
Não        5            5        5      5
Sim        9            9        9      9

In [32]:
dataframe.count()

Clima          14
Temperatura    14
Umidade        14
Vento          14
Jogar          14
dtype: int64

In [34]:
dfClima = dataframe.drop(['Temperatura', 'Umidade', 'Vento'], axis=1)

In [41]:
classe = 'Clima'
jogar = 'Jogar'

In [42]:
dfClima.groupby([classe,jogar]).size()

Clima       Jogar
Chuvoso     Não      3
            Sim      2
Ensolarado  Não      2
            Sim      3
Nublado     Sim      4
dtype: int64

In [52]:
dfClima.loc[dfClima[jogar] == 'Sim'].count()

Clima    9
Jogar    9
dtype: int64

In [54]:
qtdSim = pd.to_numeric(dfClima.loc[dfClima[jogar] == 'Sim'].count()[1], downcast='float')

In [55]:
qtdNao = pd.to_numeric(dfClima.loc[dfClima[jogar] == 'Não'].count()[1], downcast='float')

In [56]:
qtdSim

9

In [57]:
qtdNao

5

In [68]:
ttAmostras = qtdSim + qtdNao

In [62]:
dfClima.groupby([classe,jogar]).size()

Clima       Jogar
Chuvoso     Não      3
            Sim      2
Ensolarado  Não      2
            Sim      3
Nublado     Sim      4
dtype: int64

In [69]:
chuvosoNao = dfClima.groupby([classe,jogar]).size()[0]

In [70]:
chuvosoSim = dfClima.groupby([classe,jogar]).size()[1]

In [71]:
ensolaradoNao = dfClima.groupby([classe,jogar]).size()[2]

In [72]:
ensolaradoSim = dfClima.groupby([classe,jogar]).size()[3]

In [73]:
nubladoSim =dfClima.groupby([classe,jogar]).size()[4]

In [78]:
a = ensolaradoSim/qtdSim

In [79]:
b = qtdSim/ttAmostras

In [80]:
c = (ensolaradoNao+ensolaradoSim)/ttAmostras

In [81]:
simVerdadeiro = a*b/c

0.6

In [82]:
aNao = ensolaradoNao/qtdNao

In [83]:
bNao = qtdNao/ttAmostras

In [84]:
cNao = (ensolaradoNao+ensolaradoSim)/ttAmostras

In [85]:
naoVerdadeiro = aNao*bNao/cNao

In [86]:
naoVerdadeiro

0.4

In [132]:
for column in dataframe:
    if column != 'Jogar':
        teste = dataframe.groupby([column,jogar]))
        print(pd.to_numeric(teste[jogar], downcast='float'))

AttributeError: Cannot access callable attribute 'where' of 'DataFrameGroupBy' objects, try using the 'apply' method