# Aula 05 - Naive Baiyes

---

In [2]:
import numpy as np

In [331]:
import pandas as pd

In [404]:
dataframe = pd.read_csv("dataset.csv")

In [405]:
dataframe

         Clima Temperatura Umidade       Vento Jogar
0      Chuvoso      Quente    Alta       FALSO   Não
1      Chuvoso      Quente    Alta  VERDADEIRO   Não
2      Nublado      Quente    Alta       FALSO   Sim
3   Ensolarado    Moderado    Alta       FALSO   Sim
4   Ensolarado        Frio  Normal       FALSO   Sim
5   Ensolarado        Frio  Normal  VERDADEIRO   Não
6      Nublado        Frio  Normal  VERDADEIRO   Sim
7      Chuvoso    Moderado    Alta       FALSO   Não
8      Chuvoso        Frio    Alta       FALSO   Sim
9   Ensolarado    Moderado  Normal       FALSO   Sim
10     Chuvoso    Moderado    Alta  VERDADEIRO   Sim
11     Nublado    Moderado    Alta  VERDADEIRO   Sim
12     Nublado      Quente  Normal       FALSO   Sim
13  Ensolarado    Moderado    Alta  VERDADEIRO   Não

In [406]:
print(dataframe['Clima'].unique())
print(dataframe['Temperatura'].unique())
print(dataframe['Umidade'].unique())
print(dataframe['Vento'].unique())
print(dataframe['Jogar'].unique())

['Chuvoso' 'Nublado' 'Ensolarado']
['Quente' 'Moderado' 'Frio']
['Alta' 'Normal']
['FALSO' 'VERDADEIRO']
['Não' 'Sim']

In [407]:
dataframe.groupby('Clima').count()

            Temperatura  Umidade  Vento  Jogar
Clima
Chuvoso               5        5      5      5
Ensolarado            5        5      5      5
Nublado               4        4      4      4

In [408]:
dataframe.groupby('Temperatura').count()

             Clima  Umidade  Vento  Jogar
Temperatura
Frio             4        4      4      4
Moderado         6        6      6      6
Quente           4        4      4      4

In [409]:
dataframe.groupby('Umidade').count()

         Clima  Temperatura  Vento  Jogar
Umidade
Alta         9            9      9      9
Normal       5            5      5      5

In [410]:
dataframe.groupby('Vento').count()

            Clima  Temperatura  Umidade  Jogar
Vento
FALSO           8            8        8      8
VERDADEIRO      6            6        6      6

In [411]:
dataframe.groupby('Jogar').count()

       Clima  Temperatura  Umidade  Vento
Jogar
Não        5            5        5      5
Sim        9            9        9      9

In [412]:
dataframe.count()

Clima          14
Temperatura    14
Umidade        14
Vento          14
Jogar          14
dtype: int64

In [413]:
dfClima = dataframe.drop(['Temperatura', 'Umidade', 'Vento'], axis=1)

In [414]:
classe = 'Clima'
jogar = 'Jogar'

In [415]:
dfClima.groupby([classe,jogar]).size()

Clima       Jogar
Chuvoso     Não      3
            Sim      2
Ensolarado  Não      2
            Sim      3
Nublado     Sim      4
dtype: int64

In [416]:
dfClima.loc[dfClima[jogar] == 'Sim'].count()

Clima    9
Jogar    9
dtype: int64

In [417]:
qtdSim = pd.to_numeric(dfClima.loc[dfClima[jogar] == 'Sim'].count()[1], downcast='float')

In [418]:
qtdNao = pd.to_numeric(dfClima.loc[dfClima[jogar] == 'Não'].count()[1], downcast='float')

In [419]:
qtdSim

9

In [420]:
qtdNao

5

In [421]:
ttAmostras = qtdSim + qtdNao

In [422]:
ttAmostras

14

In [423]:
dfClima.groupby([classe,jogar]).size()

Clima       Jogar
Chuvoso     Não      3
            Sim      2
Ensolarado  Não      2
            Sim      3
Nublado     Sim      4
dtype: int64

In [424]:
chuvosoNao = dfClima.groupby([classe,jogar]).size()[0]

In [425]:
chuvosoNao

3

In [426]:
chuvosoSim = dfClima.groupby([classe,jogar]).size()[1]

In [427]:
chuvosoSim

2

In [428]:
ensolaradoNao = dfClima.groupby([classe,jogar]).size()[2]

In [429]:
ensolaradoNao

2

In [430]:
ensolaradoSim = dfClima.groupby([classe,jogar]).size()[3]

In [431]:
ensolaradoSim

3

In [432]:
nubladoSim =dfClima.groupby([classe,jogar]).size()[4]

In [433]:
nubladoSim

4

In [434]:
a = ensolaradoSim/qtdSim

In [435]:
a

0.3333333333333333

In [436]:
b = qtdSim/ttAmostras

In [437]:
b

0.6428571428571429

In [438]:
c = (ensolaradoNao+ensolaradoSim)/ttAmostras

In [439]:
c

0.35714285714285715

In [440]:
simVerdadeiro = a*b/c

In [441]:
aNao = ensolaradoNao/qtdNao

In [442]:
bNao = qtdNao/ttAmostras

In [443]:
cNao = (ensolaradoNao+ensolaradoSim)/ttAmostras

In [444]:
naoVerdadeiro = aNao*bNao/cNao

In [445]:
for column in dataframe:
    classes = dataframe[column].unique()
    for i in range (len(classes)):
        print(classes[i])
    print()
        #print(dataframe[[column,'Jogar']])

Chuvoso
Nublado
Ensolarado

Quente
Moderado
Frio

Alta
Normal

FALSO
VERDADEIRO

Não
Sim

In [446]:
ttAmostras = dataframe.count()[0]
print(ttAmostras)

print()
for column in dataframe:
    if column != 'Jogar':
        print(column)
        simTotal = pd.to_numeric(dataframe[[column,'Jogar']].loc[dfClima[jogar] == 'Sim'].count()[1], downcast='float')
        naoTotal = pd.to_numeric(dataframe[[column,'Jogar']].loc[dfClima[jogar] == 'Não'].count()[1], downcast='float')
        print("simTotal " + str(simTotal))
        print("naoTotal " + str(naoTotal))
        classes = dataframe[column].unique()    
        for i in range (len(classes)):
            nao = 0
            sim = 0
            print(classes[i])
            
            g1 = dataframe[[column,'Jogar']] .loc[dataframe[column] == classes[i]] .groupby([column,'Jogar']).size()
            #print(g1)
            
            
            if len(g1)==1:
                sim = g1[0]
            else:
                nao = g1[0]
                sim = g1[1]
            print("sim "+str(sim))
            print("nao "+str(nao))
            
            a = sim/simTotal
            print(a)
            b = simTotal/ttAmostras
            print(b)
            c = (sim+nao)/ttAmostras
            print(c)
            
            simVerdadeiro = a*b/c
            print("sim verdadeiro "+str(simVerdadeiro))
            print()
        print()
    print()

14

Clima
simTotal 9
naoTotal 5
Chuvoso
sim 2
nao 3
0.2222222222222222
0.6428571428571429
0.35714285714285715
sim verdadeiro 0.39999999999999997

Nublado
sim 4
nao 0
0.4444444444444444
0.6428571428571429
0.2857142857142857
sim verdadeiro 1.0

Ensolarado
sim 3
nao 2
0.3333333333333333
0.6428571428571429
0.35714285714285715
sim verdadeiro 0.6



Temperatura
simTotal 9
naoTotal 5
Quente
sim 2
nao 2
0.2222222222222222
0.6428571428571429
0.2857142857142857
sim verdadeiro 0.5

Moderado
sim 4
nao 2
0.4444444444444444
0.6428571428571429
0.42857142857142855
sim verdadeiro 0.6666666666666666

Frio
sim 3
nao 1
0.3333333333333333
0.6428571428571429
0.2857142857142857
sim verdadeiro 0.7500000000000001



Umidade
simTotal 9
naoTotal 5
Alta
sim 5
nao 4
0.5555555555555556
0.6428571428571429
0.6428571428571429
sim verdadeiro 0.5555555555555556

Normal
sim 4
nao 1
0.4444444444444444
0.6428571428571429
0.35714285714285715
sim verdadeiro 0.7999999999999999



Vento
simTotal 9
naoTotal 5
FALSO
sim 6
nao 2
0.6666666666666666
0.6428571428571429
0.5714285714285714
sim verdadeiro 0.7500000000000001

VERDADEIRO
sim 3
nao 3
0.3333333333333333
0.6428571428571429
0.42857142857142855
sim verdadeiro 0.5000000000000001

In [447]:
0.39999999999999997 * 0.7500000000000001 * 0.5555555555555556 * 0.5000000000000001*100

8.333333333333336