# Aula 05 - Naive Baiyes

---

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [38]:
dataframe = pd.read_csv("dataset.csv")

In [39]:
dataframe

         Clima Temperatura Umidade       Vento Jogar
0      Chuvoso      Quente    Alta       FALSO   Não
1      Chuvoso      Quente    Alta  VERDADEIRO   Não
2      Nublado      Quente    Alta       FALSO   Sim
3   Ensolarado    Moderado    Alta       FALSO   Sim
4   Ensolarado        Frio  Normal       FALSO   Sim
5   Ensolarado        Frio  Normal  VERDADEIRO   Não
6      Nublado        Frio  Normal  VERDADEIRO   Sim
7      Chuvoso    Moderado    Alta       FALSO   Não
8      Chuvoso        Frio    Alta       FALSO   Sim
9   Ensolarado    Moderado  Normal       FALSO   Sim
10     Chuvoso    Moderado    Alta  VERDADEIRO   Sim
11     Nublado    Moderado    Alta  VERDADEIRO   Sim
12     Nublado      Quente  Normal       FALSO   Sim
13  Ensolarado    Moderado    Alta  VERDADEIRO   Não

In [43]:
print(dataframe['Clima'].unique())
print(dataframe['Temperatura'].unique())
print(dataframe['Umidade'].unique())
print(dataframe['Vento'].unique())
print(dataframe['Jogar'].unique())

['Chuvoso' 'Nublado' 'Ensolarado']
['Quente' 'Moderado' 'Frio']
['Alta' 'Normal']
['FALSO' 'VERDADEIRO']
['Não' 'Sim']

In [52]:
dataframe.groupby('Clima').count()

            Temperatura  Umidade  Vento  Jogar
Clima
Chuvoso               5        5      5      5
Ensolarado            5        5      5      5
Nublado               4        4      4      4

In [53]:
dataframe.groupby('Temperatura').count()

             Clima  Umidade  Vento  Jogar
Temperatura
Frio             4        4      4      4
Moderado         6        6      6      6
Quente           4        4      4      4

In [54]:
dataframe.groupby('Umidade').count()

         Clima  Temperatura  Vento  Jogar
Umidade
Alta         9            9      9      9
Normal       5            5      5      5

In [67]:
dataframe.groupby('Vento').count()

            Clima  Temperatura  Umidade  Jogar
Vento
FALSO           8            8        8      8
VERDADEIRO      6            6        6      6

In [78]:
dataframe.groupby('Jogar').count()

       Clima  Temperatura  Umidade  Vento
Jogar
Não        5            5        5      5
Sim        9            9        9      9

In [81]:
dataframe.count()

Clima          14
Temperatura    14
Umidade        14
Vento          14
Jogar          14
dtype: int64

In [84]:
dados = []
for column in dataframe:
    climas = dataframe[column].unique()
    c=[]
    for i in range (len(climas)):
        c.append({ climas[i] :dataframe.loc[dataframe[column] == climas[i]].count() })
    dados.append(c)

In [86]:
dados

[[{'Chuvoso': Clima          5
   Temperatura    5
   Umidade        5
   Vento          5
   Jogar          5
   dtype: int64}, {'Nublado': Clima          4
   Temperatura    4
   Umidade        4
   Vento          4
   Jogar          4
   dtype: int64}, {'Ensolarado': Clima          5
   Temperatura    5
   Umidade        5
   Vento          5
   Jogar          5
   dtype: int64}], [{'Quente': Clima          4
   Temperatura    4
   Umidade        4
   Vento          4
   Jogar          4
   dtype: int64}, {'Moderado': Clima          6
   Temperatura    6
   Umidade        6
   Vento          6
   Jogar          6
   dtype: int64}, {'Frio': Clima          4
   Temperatura    4
   Umidade        4
   Vento          4
   Jogar          4
   dtype: int64}], [{'Alta': Clima          9
   Temperatura    9
   Umidade        9
   Vento          9
   Jogar          9
   dtype: int64}, {'Normal': Clima          5
   Temperatura    5
   Umidade        5
   Vento          5
   Jogar          5
   dtype: int64}], [{'FALSO': Clima          8
   Temperatura    8
   Umidade        8
   Vento          8
   Jogar          8
   dtype: int64}, {'VERDADEIRO': Clima          6
   Temperatura    6
   Umidade        6
   Vento          6
   Jogar          6
   dtype: int64}], [{'Não': Clima          5
   Temperatura    5
   Umidade        5
   Vento          5
   Jogar          5
   dtype: int64}, {'Sim': Clima          9
   Temperatura    9
   Umidade        9
   Vento          9
   Jogar          9
   dtype: int64}]]