# Aula 05 - Naive Baiyes

---

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [7]:
dataframe = pd.read_csv("dataset.csv")

In [8]:
dataframe

         Clima  Temperatura  Umidade        Vento  Jogar
0      Chuvoso       Quente     Alta        FALSO    Não
1      Chuvoso       Quente     Alta   VERDADEIRO    Não
2      Nublado       Quente     Alta        FALSO    Sim
3   Ensolarado     Moderado     Alta        FALSO    Sim
4   Ensolarado         Frio   Normal        FALSO    Sim
5   Ensolarado         Frio   Normal   VERDADEIRO    Não
6      Nublado         Frio   Normal   VERDADEIRO    Sim
7      Chuvoso     Moderado     Alta        FALSO    Não
8      Chuvoso         Frio     Alta        FALSO    Sim
9   Ensolarado     Moderado   Normal        FALSO    Sim
10     Chuvoso     Moderado     Alta   VERDADEIRO    Sim
11     Nublado     Moderado     Alta   VERDADEIRO    Sim
12     Nublado       Quente   Normal        FALSO    Sim
13  Ensolarado     Moderado     Alta   VERDADEIRO    Não